<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content">
        <link rel="preload" href="/fonts/VAG-Rounded/VAG-Rounded-Next-Bold.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/fonts/VAG-Rounded/VAG-Rounded-Next-Regular.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/fonts/VAG-Rounded/VAG-Rounded-Next-ExtraLight.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/fonts/VAG-Rounded/VAG-Rounded-Next-Heavy.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/fonts/VAG-Rounded/VAG-Rounded-Next-Medium.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/fonts/VAG-Rounded/VAG-Rounded-Next-Thin.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}">
        <link rel="stylesheet" href="/public/css/components/comments.css">
    </head>
    <body>
        <section class="comments">
            <div class="comments-header">
                <button class="no-glow">ФИЛЬТР</button>
                <h1>КОММЕНТАРИИ</h1>
                <a class="link-like-button no-glow">ПРАВИЛА САЙТА</a>
            </div>
            <div class="input-section">
            </div>
            <div class="people-comments">
                <div class="comm-container">
                    <div class="about-comm">
                        <div class="user-info">
                            <img src="/public/images/user-avatar.webp" class="user-avatar">
                            <div class="username-and-role">
                                <h3 class="username">Andrey Andreev</h3>
                                <p class="role" style="color:rgba(223, 14, 83, 1)">Команда проекта</p>
                            </div>
                        </div>
                        <div class="comm-rating">
                            <button class="button-without-styles-all change-rating">
                                <img src="/public/svgs/chevron-up.svg" alt="Повысить рейтинг">
                            </button>
                                <p class="rating-number" style="color:rgba(86, 204, 100, 1)">+199</p>
                            <button class="button-without-styles-all change-rating">
                                <img src="/public/svgs/chevron-down.svg" alt="Понизить рейтинг">
                            </button>
                        </div>
                    </div>
                    <div class="comm-content">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga numquam, optio id impedit amet eos? Facilis ipsa,
                             temporibus dolore, fugit, sapiente tempore quos maiores explicabo vero natus similique! Minima, voluptatibus.</p>
                    </div>
                    <div class="comm-actions">
                        <div class="actions">
                            <p>Ответить</p>
                            <p>Пожаловаться</p>
                        </div>
                        <p class="comm-date">13.04.2026; 17:24</p>
                    </div>
                </div>
                <div class="comm-container with-answers">
                    <div class="about-comm">
                        <div class="user-info">
                            <img src="/public/images/user-avatar.webp" class="user-avatar">
                            <div class="username-and-role">
                                <h3 class="username">Andrey Andreev</h3>
                                <p class="role" style="color:rgba(223, 14, 83, 1)">Команда проекта</p>
                            </div>
                        </div>
                        <div class="comm-rating">
                            <button class="button-without-styles-all change-rating">
                                <img src="/public/svgs/chevron-up.svg" alt="Повысить рейтинг">
                            </button>
                                <p class="rating-number" style="color:rgba(86, 204, 100, 1)">+199</p>
                            <button class="button-without-styles-all change-rating">
                                <img src="/public/svgs/chevron-down.svg" alt="Понизить рейтинг">
                            </button>
                        </div>
                        <div class="answers-button">
                            <
                        </div>
                    </div>
                    <div class="comm-content">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga numquam, optio id impedit amet eos? Facilis ipsa,
                             temporibus dolore, fugit, sapiente tempore quos maiores explicabo vero natus similique! Minima, voluptatibus.</p>
                    </div>
                    <div class="comm-actions">
                        <div class="actions">
                            <p>Ответить</p>
                            <p>Пожаловаться</p>
                        </div>
                        <p class="comm-date">13.04.2026; 17:24</p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>

