.dropdown-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    width: 100%;
}

.dropdown-content {
    min-height: 0;
}

.dropdown-wrapper.is-open {
    grid-template-rows: 1fr;
}

.dropdown-menu-btn {
    display: flex;
    gap: var(--fs-gap10);
    width: 100%;
    background-color: #921545 !important;
}

.dropdown-menu-btn.no-glow:active {
    box-shadow: none !important;
}

.dropdown-icon {
    transition: 0.3s;
}

.dropdown-menu-btn.is-open .dropdown-icon {
    transform: rotate(-180deg);
}

.dropdown-menu-btn:hover {
    scale: 1;
}