@import url('../main.css');

.slider-wrapper {
    display: flex;
    gap: var(--fs-gap20);
}

.slider {
    width: clamp(1px, 16.575vw, 255px);
    height: clamp(1px, 22.1vw, 340px);
    overflow: hidden;
    margin: 0;
    border-radius: var(--fs-border-radius);
    background: white;
}

.slides {
    display: flex;
    transition: transform 0.4s ease-in-out;
}


.slides img {
    width: clamp(1px, 16.575vw, 255px);
    height: clamp(1px, 22.1vw, 340px);
    object-fit: cover;
    display: block;
    flex-shrink: 0;
    transition: transform 0.3s ease;
    transform: scale(1);
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.slides img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.slider-button-wrapper {
    display: flex;
    align-items: center;

}

.slider-btn {
    background: rgb(101, 12, 48);
    border: none;
    width: clamp(1px, 4.5vw, 70px);
    height: clamp(1px, 4.5vw, 70px);
    cursor: pointer;
    z-index: 10;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-sizing: border-box;
}

.slider-btn.inactive {
    background: grey !important;
}


.slider-icon,
.close-icon,
.download-icon {
    width: clamp(1px, 2.1vw, 32px);
    height: clamp(1px, 2.1vw, 32px);
    fill: white;
}

.fullscreen-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: 0.3s ease;
}

.hidden {
    display: none !important;
}

#modalImage {
    max-width: 90vw;
    max-height: 65vh;
    object-fit: contain;
    opacity: 1;
}

.modal-close,
.modal-nav,
.modal-download {
    position: absolute;
    border: none;
    width: 4.5vw;
    height: 4.5vw;
    cursor: pointer;
    z-index: 10;
    border-radius: 999px;
    padding: 0;
    box-sizing: border-box;
}

.modal-close {
    top: clamp(1px, 1.95vw, 30px);
    right: calc(clamp(1px, 1.95vw, 30px) + var(--scrollbar-width, 0px));
}

.modal-nav.prev {
    left: clamp(1px, 1.95vw, 30px);
}

.modal-nav.next {
    right: calc(clamp(1px, 1.95vw, 30px) + var(--scrollbar-width, 0px));
}

.modal-download {
    left: clamp(1px, 1.95vw, 30px);
    top: clamp(1px, 1.95vw, 30px);
}

.modal-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    pointer-events: none;
}

