@import url('../main.css');

.main-title {
    text-align: center;
}

.text-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.text {
    width: 80%;
    padding: var(--fs-padding);
    background: linear-gradient(270deg, #0b172b, #df0e5441);
    backdrop-filter: blur(10px);
    border-radius: var(--fs-border-radius);
    margin-left: -15%;
    padding-left: calc(15% + clamp(1px, 1.3vw, 20px));
    position: relative;
    z-index: 1;
    height: clamp(1px, 29.25vw, 450px);
    display: flex;
    flex-direction: column;
    gap: var(--fs-gap20);
}

.text .desc {
    display: flex;
    flex-direction: column;
    gap: var(--fs-gap10);
}

.text .title {
    text-align: center;
}

.img-wrapper {
    width: 30%;
    height: clamp(250px, 39vw, 600px);
    position: relative;
    z-index: 2;
}

.img-wrapper img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.text-wrapper.reverse {
    flex-direction: row-reverse;
}

.text-wrapper.reverse .text {
    width: 80%;
    padding: var(--fs-padding);
    border-radius: var(--fs-border-radius);
    background: linear-gradient(90deg, #0b172b, #df0e5441);
    margin-right: -15%;
    padding-right: calc(15% + clamp(1px, 1.3vw, 20px));
    position: relative;
    z-index: 1;
}

.text-wrapper.reverse .text .desc {
    text-align: end;
}

.text-wrapper .text .quote {
    margin-top: auto;
    text-align: right;
}

.text-wrapper.reverse .text .quote {
    margin-top: auto;
    text-align: left;
}


@media(max-width:768px) {
    .text-wrapper,
    .text-wrapper.reverse {
        display: flex;
        flex-direction: column;
    }
    .img-wrapper {
        width: 100%;
        height: clamp(100px, 80vw, 1000px);
        position: relative;
        z-index: 2;
    }
    .text,
    .text-wrapper.reverse .text {
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(223, 14, 83, 0.3) 0%, #0B172B 100%);
        border-radius: var(--fs-border-radius);
        margin-top: -50%;
        padding-top: calc(50% + var(--fs-padding));
        padding-left: var(--fs-padding);
        padding-right: var(--fs-padding);
        margin-left: unset;
        margin-right: unset;
    }
}
