@import url('../main.css');

.subs-and-dubs,
.episode-controls {
    display: flex;
    gap: var(--fs-gap20);
    width: 100%;
    justify-content: center;
}

.episode-controls.mobile {
    display: none;
}

.subs-and-dubs button {
    scale: 0.9;
}

.subs-and-dubs .active {
    background-color: rgb(143, 17, 68);
    border-color: rgb(143, 17, 68);
    cursor: not-allowed;
    scale: 1.05;
}

.iframe-wrapper {
    width: 100%;
    padding-inline: 10%;
}

@media (max-width:768px) {
    .episode-controls {
        display: none;
    }

    .episode-controls.mobile {
        display: flex;
    }

    .episode-controls.mobile button {
        padding: clamp(1px, 1.335vw, 100px);
    }

    .iframe-wrapper {
        padding-inline: 0%;
    }
}