@import url('../main.css');

.volumes {
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
}

.volume-box {
    width: 25%;
    border-radius: 10px;
    overflow: hidden;
    max-width: 1000px;
    flex: 1;
}

.volume-image {
    flex-shrink: 0;
    z-index: 20;
    aspect-ratio: 7 / 10;
    position: relative;
    width: 100%;

}

.volume-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

}

.volume-desc h2 {
    margin: 0px;
    text-align: center;
}

.volume-desc p {
    margin: 0px;
    text-align: center;
}


.volume-desc {
    background: linear-gradient(180deg, #df0e5441, #0b172b);
    color: white;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
}

.last-line {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: var(--fs-text);
}