@import url('../main.css');

.auth-container{
    display: flex;
    border-radius: var(--fs-border-radius);
    overflow: hidden;
    align-self: center;
    height: 100%;
}

.auth-image{
    width: 43%;
    overflow: hidden;
    aspect-ratio: 0.87;
    z-index: 100;
}

.auth-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 100;
    object-position: top;
    border-top-left-radius: var(--fs-border-radius);
    border-bottom-left-radius: var(--fs-border-radius);
}

.auth-form{
    width: 57%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgba(146, 21, 69, 0.4) 0%, #0B172B 100%);
    backdrop-filter: blur(10px);
    padding: var(--fs-padding);
    z-index: 10;
}





.auth-form h1{
    text-align: center;
}

.auth-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: var(--fs-gap20);
}

.auth-form button{
    font-family: 'Vag-Bold', sans-serif;
    font-size: var(--fs-nav-links);
}

.auth-form input{
    background: transparent;
    border:  var(--fs-border2px) solid #921545;
    background-color: #1D162E;
    border-radius: var(--fs-border-radius);
    padding-inline: var(--fs-gap10);
    padding-block: clamp(1px,0.4875vw,7.5px);
    outline: none;
    color: inherit;
    font-size: var(--fs-text);
    font-family: 'Vag-Regular';
    line-height: 1.4em;
    color: white;
    margin: 0;
    width: 65%;
}

input::placeholder{
    color:rgba(255, 255, 255, 0.5)
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #2b1f40 inset !important;
    -webkit-text-fill-color: #ffffff !important;
    font-size: var(--fs-text);
    font-family: 'Vag-Regular';
    line-height: 1.4em;
    margin: 0px;
    transition: background-color 5000s ease-in-out 0s;
}

input {
    caret-color: white;
    color: white;
}

.auth-form a{
    text-decoration: none;
    color: rgb(229, 11, 85);
    font-family: 'Vag-Medium';
}

.input-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: var(--fs-gap10);
    position: relative;
}




.password-title {
    display: flex;
    gap: clamp(1px, 0.65vw, 10px);
    align-items: center;
    width: 100%;
    justify-content: center;
}


.input-error{
    box-shadow: 0px 0px 10px 5px rgba(229, 11, 85, 0.5);
}

.input-with-icon{
    width: 65%;
    display: flex;
    justify-content: center;
    position: relative;
}

.auth-form .input-with-icon input{
    width: 100%;
    padding-right: clamp(1px, 2.6vw, 40px);
}

.input-with-icon button{
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-150%, -50%);
}

.input-with-icon button{
    border: 0px;
    padding: 0px;
}

.input-with-icon svg{
    color:rgba(255, 255, 255, 0.5);
    width: clamp(1px, 1.3vw, 20px);
    height: clamp(1px, 1.3vw, 20px);
    display: flex;
    align-items: center;
    justify-content: center;
}


.input-with-icon button:hover{
    background: none;
}

.error-bubble{
    display: none;
    position: absolute;
    top: 115%;
    left: 17.5%;
    z-index: 100;
    background-color: #1D162E;
    width: max-content;
    padding-inline: var(--fs-gap10);
    padding-block: clamp(1px,0.4875vw,7.5px);
    border: var(--fs-border2px) solid #921545;
    border-radius:var(--fs-border-radius);
    font-size: var(--fs-nav);
    font-family: 'Vag-Regular';
}

.error-bubble::before {
    content: "";
    position: absolute;
    top: calc(var(--fs-border2px) * -0.5); 
    left: var(--fs-gap20);
    width: clamp(1px,0.78vw,12px);
    height: clamp(1px,0.78vw,12px);
    background-color: #1D162E;
    border-left: var(--fs-border2px) solid #921545;
    border-top: var(--fs-border2px) solid #921545;
    transform: translate(0, -50%) rotate(45deg);
    z-index: 2; 
}


h3{
    font-family: 'Vag-Medium';
}

.auth-image{
    
}

@media (max-width:768px) {
    .auth-container{
        flex-direction: column;
    }

    .auth-image{
        width: 100%;
        overflow: hidden;
        aspect-ratio: 1.45;
        z-index: 100;
    }

    .auth-form{
        width: 100%;
        background: linear-gradient(180deg, rgba(146, 21, 69, 0.4) 0%, #0B172B 100%);
    }

    .auth-form input{
        font-size: clamp(13.5px, 4.267vw, 36px);
        width: 100%;
        padding-block: clamp(1px,2.403vw,20px);
    }

    .input-with-icon{
        width: 100%;
    }

    .input-with-icon svg{
    width: clamp(1px, 4.539vw, 30px);
    height: clamp(1px, 4.539vw, 30px);
    }

    .auth-form .input-with-icon input{
        width: 100%;
        padding-right: calc(4.539vw + (var(--fs-gap10) * 2));
    }

    .error-bubble{
    left: 0%;
    padding-block: clamp(1px,2vw,20px);
    }

    .error-bubble::before {
        width: clamp(1px,3.2vw,100px);
        height: clamp(1px,3.2vw,100px);
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active {
        font-size: clamp(13.5px, 4.267vw, 36px);
    }
}