.cont-1 {
    background: linear-gradient(360deg, #0b172b, #df0e5441);
    backdrop-filter: blur(10px);
    border-radius: var(--fs-border-radius);
    padding: var(--fs-padding);
    gap: var(--fs-gap10);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h3 {
    text-align: center;
}

.dormitory {
    border-radius: var(--fs-border-radius);
    overflow: hidden;
    display: flex;
}

.dormitory .desc {
    gap: var(--fs-gap10);
    display: flex;
    flex-direction: column;
    padding: var(--fs-padding);
    width: 65%;
    background: linear-gradient(360deg, #0b172b, #df0e5441);
    backdrop-filter: blur(10px);
}

.dormitory .image-wrapper {
    width: 35%;
}

.dormitory .image-wrapper.mobile{
    display: none;
}

.dormitory img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-top-right-radius: var(--fs-border-radius);
    border-bottom-right-radius: var(--fs-border-radius);
}

.cont-2,
.cont-3 {
    gap: var(--fs-gap10);
    display: flex;
    flex-direction: column;
    padding: var(--fs-padding);
    background: linear-gradient(360deg, #0b172b, #df0e5441);
    border-radius: var(--fs-border-radius);
    backdrop-filter: blur(10px);
}

.cont-2 .classroom {
    display: flex;
    gap: var(--fs-gap20);
}

.cont-2 .classroom .text {
    display: flex;
    flex-direction: column;
    gap: var(--fs-gap10);
}

.cont-2 h3 {
    text-align: left;
}

.cont-2 .classroom .text {
    flex: 1 1 60%;
}

.cont-2 .classroom .img-wrapper {
    aspect-ratio: 18/10;
    width: 40%;
    flex: 1 1 40%;
}

.cont-2 .classroom .img-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: var(--fs-border-radius);
    overflow: hidden;
}

.reverse {
    flex-direction: row-reverse;
}


.cont-3 {
    align-items: center;
}

.title-carousel-cont {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    gap: var(--fs-gap10);
    text-align: center;
    width: 50%;
    min-height: 0;
    justify-self: center;
}

.carousel-container,
.embla,
.embla__container,
.embla__slide {
  min-height: 0;
  height: 100%;
}

@media (max-width:768px) {
    .title-carousel-cont {
        width: 100%;
    }

    .cont-2 .classroom{
        flex-direction: column;
        gap: 0;
    }

    .cont-2{
        gap: var(--fs-gap20);
    }

    .cont-2 h3{
        text-align: center;
    }

    .cont-2 .classroom .img-wrapper{
        width: 100%;
    }

    .dormitory .desc {
        width: 100%;
    }

    .dormitory .image-wrapper {
        display: none;
        width: 100%;
    }

    .dormitory .image-wrapper.mobile{
        display: block;
        border-radius: var(--fs-border-radius);
        overflow:hidden;
    }
}
