@import url('../../main.css');

.cont {
    display: flex;
    flex-direction: row;
    width: 95%;
    border-radius: var(--fs-border-radius);
    overflow: hidden;
    align-self: center;
}

.cont .image-wrapper {
    width: 45%;
    object-fit: cover;
    overflow: hidden;
    z-index: 5;
}

.cont .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1 / 1.385;
    display: block;
    will-change: transform;
}

.cont .desc {
    width: 55%;
    background: linear-gradient(90deg, rgba(146, 21, 69, 0.4) 0%, #0B172B 100%);
    backdrop-filter: blur(10px);
    padding: var(--fs-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--fs-gap20);
}




.cont .desc .head {
    display: flex;
    flex-direction: column;
    gap: clamp(1px, 0.65vw, 10px);
}

.cont .desc .info-block {
    border: var(--fs-border2px) solid #921545;
    border-radius: var(--fs-border-radius);
    display: flex;
    width: 68%;
    overflow: hidden;
    background-clip: padding-box;
    transform: translateZ(0);
}

.cont .desc .info-block p {
    padding: var(--fs-padding);
    text-align: center;
    width: 100%;
}

.cont .desc .info-block p {
    border-bottom: var(--fs-border2px) solid #921545;
}

.cont .desc .info-block p:last-child {
    border-bottom: none;
}

.cont .desc .info-block .left-column {
    display: flex;
    flex-direction: column;
    background-color: #921545;
    width: 50%;
    align-items: center;
}

.cont .desc .info-block .left-column p {
    font-family: 'Vag-Bold';
}

.cont .desc .info-block .right-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: #1D162E;
}

.cont .desc .info-block .right-column .yellow {
    color: #ffb147;
}

.cont .desc .info-block .right-column .purple {
    color: #9A66FF;
}

.cont .desc .info-block .right-column .green {
    color: #64c396;
}

.cont .desc .button-line {
    display: flex;
    gap: clamp(15px, 1.3vw, 20px);
}

.cont .desc .button-line.mobile {
    display: none;
}



.cont .desc .progress-bar {
    position: relative;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    height: clamp(1px, 1.3vw, 20px);
    border: var(--fs-border2px) solid #921545;
    width: 67%;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: var(--fs-border-radius);
}


.cont .desc .progress-bar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--progress-width, 0%);
    height: 100%;
    background-color: #921545;
    border-radius: var(--fs-border-radius);
}

.cont .desc .mobile-info {
    display: none;
}


.dropdown-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    /* Изначально высота равна 0 */
    transition: grid-template-rows 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    /* Обязательно скрываем вылезающий контент */
    width: 100%;
}

.dropdown-content {
    min-height: 0;
    /* Важно для того, чтобы контент мог сжиматься до 0 */
}


.dropdown-wrapper.is-open {
    grid-template-rows: 1fr;
    /* Раскрывается на полный размер контента */
}

.dropdown-menu-btn {
    display: flex;
    gap: var(--fs-gap10);
    width: 100%;
    background-color: #921545 !important;
}

.dropdown-menu-btn.no-glow:active {
    box-shadow: none !important;
}

.dropdown-icon {
    transition: 0.3s;
}

.dropdown-menu-btn.is-open .dropdown-icon {
    transform: rotate(-180deg);
}




.dropdown-menu-btn:hover {
    scale: 1;
}

@media(max-width:768px) {
    .cont {
        flex-direction: column;
        width: 100%;
    }

    .cont .image-wrapper,
    .cont .desc {
        width: 100%;
        height: 100%;
    }

    .cont .desc {
        background: linear-gradient(180deg, rgba(223, 14, 83, 0.3) 0%, #0B172B 100%);
    }

    .cont .desc .info-block {
        display: none;
    }

    .cont .desc .mobile-info {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: var(--fs-gap10);
    }

    .cont .desc .mobile-info .info-block {
        display: flex;
        width: 100%;
    }

    .cont .desc .mobile-info .info-block {}

    .cont .desc .button-line {
        display: none;
    }

    .cont .desc .button-line.mobile {
        display: flex;
    }

    .cont .desc .progress-bar {
        height: clamp(1px, 5.34vw, 100px);
        width: 100%;
    }

    .cont .desc .head {
        gap: var(--fs-gap10)
    }
}